/* Custom CSS for ecologicaldata.org */

/*ul.primary li a {
  margin: .1em;
  padding: 0.5em;
}*/

/*Make edit and revision tabs larger on all pages*/
ul.primary {
  white-space: nowrap;
  padding-bottom: .5em;
}

ul.primary li {
  display: inline-block;
}

ul.primary li a {
  margin: .2em;
  padding: .5em 1em;
}

/* Customizations to tabs on user page only */

.page-user- ul.primary {
  padding-left: 0;
  padding-bottom: 0.5em;
}

.page-user- ul.primary li a {
  padding: 0.5em 1em;
}

/* Update buttons on node edit forms */

.field-add-more-submit {
  float: right;
}

/* Update link fields on node edit forms */
.link-field-columns {
  width: 45%;
}

.link-field-column .form-text {
  width: 80%;
}

/* horizontal tab fieldgroup styling */

.horizontal-tabs-list li {
  list-style-type: none;
}

ul.horizontal-tabs-list li, ul.horizontal-tabs-list li.selected {
  padding: .4em !important;
  font-size: 1.2em;
}

/* lat long fields fix */
input.geofield-lat, input.geofield-lon {
  width: 4em;
}

.form-item-field-collection-site-geo-und-0-geom-lat, .form-item-field-collection-site-geo-und-0-geom-lon {
  float: left;
  margin-right: 1em;
}

/* timespan 'TO' fix */

.end-date-wrapper > div > label {
  margin-right: 100%;
}

/* Brings group of taxonomy term fields inline on dataset node edit form */
.taxonomy-group .field-type-taxonomy-term-reference {
  float: left;
  position: none;
  margin-right: 2em;
}

/* wraps text on taxonomy term field labels on dataset node edit form and fixes the nonsense that ensues*/

.taxonomy-group .form-item.form-type-autocomplete-deluxe {
  white-space: pre;
  margin-top: 0;
}
.taxonomy-group .field-type-taxonomy-term-reference .autocomplete-deluxe-container {
  background: none;
  border: none;
}
.taxonomy-group .field-type-taxonomy-term-reference input.autocomplete-deluxe-form-single {
  border: 1px solid #ccc !important;
  margin-top: -1em;
}
/* .fieldset-wrapper .field-type-taxonomy-term-reference .form-type-autocomplete-deluxe {
  margin-top: 0;
  margin-bottom: 0;
}

/* Hide description text in views exposed filters */

div[class*='views-widget-filter-tid'] .description, div[class^=' views-widget-filter-tid'] .description {
  display: none;
}

.page-find-data .views-exposed-widget {
  float: none;
}

/* DS Bootstrap layout CSS tweaks for dataset content type only*/

.node-dataset.view-mode-full .row {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
}

/* Dataset field theming */

.node-dataset.view-mode-full .col-sm-4 {
  background-color: #eee;
}

.node-dataset.view-mode-full .field-name-field-install-code-text {
  font-family: monospace;
}

/* Style responsive menu toggle */

#superfish-1-toggle {
  font-size: 80px;
}

/* Hide the backend help text in exposed filters (Views bug) */
.form-item.form-type-select .description {
  display: none;
}

/* hides confusing row weight link on dataset node edit form */
.tabledrag-toggle-weight {
  display: none;
}

/* outline field group pages in a multipage format */
.field-group-multipage.multipage-pane {
  border: 2px solid #ddd;
  padding: 1em;
}
.multipage-pane-title {
  color: #333;
  margin-bottom: 1em;
}

/* node form help text */
.region-help .content {
  margin-left: 2em;
}

/* multipage controls */

.multipage-counter {
  display: block;
  margin-top: 3em;
}

.multipage-button {
  float: right;
}

input.form-submit.multipage-link-previous, input.form-submit.multipage-link-next {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 5px 5px 10px 0;
  background-color: #444;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  padding: 15px 24px !important;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

input.form-submit.multipage-link-previous:before {
  content: "\u2329";
}

input.form-submit.multipage-link-next:hover, input.form-submit.multipage-link-previous:hover {
  background-color: #E74C3C;
  box-shadow: none;
  color: #ffffff;
}
